body{
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(239, 232, 232);
}
li{
    list-style: none;
}
.container {
    height: 400px;
    width: 800px;
    background: rgb(245, 245, 246);
    position: relative;
    padding: 15px;
}
textarea{
    width: 50%;
    resize: none;
    height: 240px;
    outline: none;
    border-left: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 25px;
    border: 1px solid #979797;

}
.text-input{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li.row-from {
    list-style: none;
}
li.row-to {
    list-style: none;
}
.fa-solid, .fas {
    font-weight: 900;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.fa-regular{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
ul.controls {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border: 1px solid #979797;
    margin-top: 0px;
    border-top: none;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
select {
    width: 90px;
    height: 37px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-right: 6px;
    font-size: 19px;
    background: no-repeat;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
button.translate {
    height: 40px;
    width: 440px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    background-color: grey;
}